/* Skills */
.skills div{
  background-color: transparent;
  border-radius: 50%;
  padding: 20px;
  width: 160px;
  height: 160px;
}

/* Skills */
.SQL i{
  font-size: 80px;
}

/* Skills */
.skills div:hover {
  /* box-shadow: 0px 0px 20px 10px rgb(11, 190, 225); */
  box-shadow: 0 0 15px #FF2EF5, 0 0 40px #00F0FF !important;
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 50%; 
}

img{
  width: 100px;
  height: 100px;
}

.skill-head {
  color: #00F0FF !important;
}

.text {
  color: white !important;
}

@media (max-width:499.98px){
  .text{
    font-size: 18px !important;
    text-align: justify !important;
  }

  .skills div {
    width: 100px;
    height: 100px;
}
}